@model CalculateCaloriesFormModel

@{
    ViewData["Title"] = "Hesaplayıcı";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/fontfamily.css" />

<div class="text-center">
    <h1 class="display-4" style="padding-top: 0.5em;">@ViewData["Title"]</h1>
    <div class="text-box" style="margin:auto; width:60%; text-align:left;padding: 10px 10px 10px 10px">
        <div style="padding: 10px 10px 10px 10px">
            <form method="post">
                <h4 style="font-size: 26px">Kalorilerinizi hesaplayın.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group font-settings">
                    <label asp-for="Age">Yaş</label>
                    <input asp-for="Age" class="form-control" placeholder="Yaşınızı giriniz...">
                    <span asp-validation-for="Age" class="small text-danger"></span>
                </div>
                <div class="form-group font-settings">
                    <label asp-for="Gender">Cinsiyet</label>
                    <div>
                        <div class="form-check form-check-inline font-settings">
                            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Male">
                            <label class="form-check-label" asp-for="Gender">Erkek</label>
                        </div>
                        <div class="form-check form-check-inline font-settings">
                            <input class="form-check-input" type="radio" name="Gender" id="inlineRadio2" value="Female">
                            <label class="form-check-label" asp-for="Gender">Kadın</label>
                        </div>
                    </div>
                    <span asp-validation-for="Gender" class="small text-danger"></span>
                </div>
                <div class="form-group font-settings">
                    <label asp-for="Height">Boy</label>
                    <input asp-for="Height" class="form-control" placeholder="Boyunuzu santimetre cinsinden giriniz...">
                    <span asp-validation-for="Height" class="small text-danger"></span>
                </div>
                <div class="form-group font-settings">
                    <label asp-for="Weight">Kilo</label>
                    <input asp-for="Weight" class="form-control" placeholder="Kilonuzu kilogram cinsinden giriniz...">
                    <span asp-validation-for="Weight" class="small text-danger"></span>
                </div>
                <div class="form-group font-settings">
                    <div class="form-group">
                        <label asp-for="Activity">Aktivite/Egzersiz</label>
                        <select asp-for="Activity" class="form-control">
                            <option value="1,200" selected>Az veya hiç egzersiz</option>
                            <option value="1,375">Haftada 1-3 kez egzersiz</option>
                            <option value="1,550">Haftada 3-5 kez egzersiz</option>
                            <option value="1,725">Haftada 6-7 kez egzersiz</option>
                        </select>
                    </div>
                    <span asp-validation-for="Activity" class="small text-danger"></span>
                </div>
                <button type="submit" class="btn-settings font-settings">Hesapla</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}