@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fontfamily.css" />

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Administrator"))
            {
                <a class="navbar-brand btn-settings" asp-area="Admin" asp-controller="Food" asp-action="Requests"><b>İstekler</b></a>
            }
            <li class="nav-item">
                <a class="navbar-brand btn-settings" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>Merhaba @User.Identity.Name!</b></a>
            </li>
            <li class="nav-item">
                <form class="font-settings" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="navbar-brand btn-settings"><b>Çıkış Yap</b></button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="navbar-brand btn-settings" asp-area="Identity" asp-page="/Account/Register"><b>Kayıt Ol</b></a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand btn-settings" asp-area="Identity" asp-page="/Account/Login"><b>Giriş Yap</b></a>
            </li>
        }
    </ul>
