@model CalculateBMIModel

@{
    ViewData["Title"] = "Home";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/calc.css" />

<div class="capsule">
    <div class="c-container">
        <h1 class="c-h1">Vücut Kitle İndeksi Hesaplama</h1>
        <span class="c-span">Boy ve kilo bilgilerinizi girerek vücut endeksinizi hesaplayabilirsiniz.</span>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Height" class="c-label">Boy(cm)</label>
            <input asp-for="Height" class="c-input" type="number" placeholder="Boy uzunluğunuzu giriniz." />
            <span asp-validation-for="Height" class="small text-danger"></span>

            <label asp-for="Weight" class="c-label">Kilo(kg)</label>
            <input asp-for="Weight" class="c-input" type="number" placeholder="Kilonuzu giriniz." />
            <span asp-validation-for="Weight" class="small text-danger"></span>

            <span class="c-span c-description">Vücut kitle indeksinize göre 5 farklı indeks aralığından biri ile eşleştirilecek ve eşleşme sonucunuzla ideal kilonuzla ilgili durumunuzu görebileceksiniz.</span>
            <button class="c-input" type="submit">Hesapla</button>
            @if (Model != null)
            {
                <label asp-for="BMIValue" class="c-label">Vücut Kitle Endeksiniz (BMI)</label>
                <input asp-for="BMIValue" class="c-input" value="@Model.BMIValue" readonly />
                <label class="c-label">Sonuç: @Model.BMIValueResult</label>
            }
        </form>
    </div>
</div>
<div class="capsule">
    <div class="c-blog">
        <div class="c-blog-item">
            <img class="c-blog-item-img" src="~/images/deficit.jpg" />
            <h2 class="c-blog-item-h2">Deficit</h2>
            <span class="c-blog-item-span">Tükettiğimizden daha fazla kalori yakmaya kalori açığı ile kilo verme denir. 1 kilogram toplamda 7.000 kaloriden oluşmaktadır. Yani haftada 1 kg vermek için her gün 1000 kalori açığı oluşturulması gerekir. Günlük 500-1000 arasındaki bir kalori açığı genellikle güvenli ve ulaşılabilir olarak kabul edilir.</span>
            <a class="c-blog-item-a" href="#">Devamını oku</a>
        </div>
        <div class="c-blog-item">
            <img class="c-blog-item-img" src="~/images/surplus.jpg" />
            <h2 class="c-blog-item-h2">Surplus</h2>
            <span class="c-blog-item-span">
                Kalori fazlalığı, tükettiğimiz kalori sayısının yaktığımız kalori sayısından fazla olması durumudur. Tükettiğimiz kalorinin yaktığımız kaloriden fazla olması durumunda vücut kütlemiz artar. Kilomuzu veya kas kütlemizi artırmayı hedefliyorsak kalori fazlasına ihtiyacımız olacak ve vücudun yaktığı kaloriden daha fazla kalori tüketmeniz gerekecek.
                Kas kazanımlarının gerçekleşmesi için genellikle %10-20 ek kalori olmak üzere yeterli bir kalori fazlası gerekir. Uygun bir direnç antrenman yöntemi ile birleştirildiğinde çoğu insan için büyük kas ve güç kazanımlarına katkıda bulunur
            </span>
            <a class="c-blog-item-a" href="#">Devamını oku</a>
        </div>
        <div class="c-blog-item">
            <img class="c-blog-item-img" src="~/images/balanced.jpg" />
            <h2 class="c-blog-item-h2">Balanced</h2>
            <span class="c-blog-item-span">Dengeli beslenme, bir kişinin tüm beslenme ihtiyaçlarını karşılar. İnsanların sağlıklı kalabilmeleri için belirli miktarda kaloriye ve besine ihtiyacı vardır. Önerilen günlük kalori alımını aşmadan hem mevut kilonun korunmasını hem de kişinin ihtiyaç duyduğu tüm besin maddelerini almasını sağlar. Dengeli beslenerek insanlar ihtiyaç duydukları besinleri ve kalorileri alabilirler ve abur cubur veya besin değeri olmayan yiyecekleri yemekten kaçınabilirler. Aynı zamanda insanların sağlıklı kalmasına yardımcı olarak hastalık riskini azaltır. Dengeli beslenmek için beş gruptan oluşan gıdalar tüketilmelidir. Bu 5 grup sebze, meyve, tahıl, protein ve süt ürünlerinden oluşmaktadır.</span>
            <a class="c-blog-item-a" href="#">Devamını oku</a>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
