@{
    ViewData["Title"] = "Ana Sayfa";
}

<link rel="stylesheet" href="~/css/homepage.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/fontfamily.css" />

<div class="container">
    <section class="section-intro">
        <img src="~/images/logo.png" alt="logo" height="430px">
        <h1>Mutluluğun temeli</h1>
        <h3>SAĞLIKTIR...</h3>
    </section>

    <section class="about-section">
        <article>
            <div class="container">
                <h3>
                    Sağlıklı bir yaşam istiyorsan doğru yerdesin!
                </h3>
                <div class="row">
                    <div class="feature-box col-lg-4">
                        <img src="~/images/about1.png" class="aboutimg" alt="about1">
                        <h3>Kalori Takibi</h3>
                        <hr>
                        <p class="about-text">Gün içinde yediğin yiyecekleri kaydet, kaç kalori aldığını gör! Kalori takibi sayesinde hedefine daha kolay ulaşacaksın.</p>
                    </div>

                    <div class="feature-box col-lg-4">
                        <img src="~/images/about2.png" class="aboutimg" alt="about2">
                        <h3>Kişisel Analiz</h3>
                        <hr>
                        <p class="about-text">Senin sağlığın her şeyden önemli! Kişisel raporlarını dilediğin zaman inceleyebilirsin.</p>
                    </div>

                    <div class="feature-box col-lg-4">
                        <img src="~/images/about3.png" class="aboutimg" alt="about3">
                        <h3>Destek Kadromuz</h3>
                        <hr>
                        <p class="about-text">Bir sıkıntı mı yaşadın? Burada sana her an yardımcı olacağız. Bizim desteğimize güven!</p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <section class="section-searchfood">
        <h3>Koleksiyonumuzdaki yemekleri kalori ve makro besin değerleri ile birlikte görebilir, ayrıca yeni önerilerle koleksiyonumuzu zenginleştirebilirsiniz.</h3>
        <h3>Bütün yemeklere ve detaylara bakmak için <a style="color: #fabd00" href="/Food/All">buraya</a> tıklayın.</h3>
    </section>

    <section class="section-footer">
        <h3>Hazırsanız başlayalım! Hemen kayıt olun.</h3>
        <p><a href="/Identity/Account/Register" class="btn btn-outline">Kayıt Ol</a></p>
    </section>

</div>
